# Android Resources
lombok.copyableannotations += androidx.annotation.AnimatorRes
lombok.copyableannotations += androidx.annotation.AnimRes
lombok.copyableannotations += androidx.annotation.ArrayRes
lombok.copyableannotations += androidx.annotation.AttrRes
lombok.copyableannotations += androidx.annotation.BoolRes
lombok.copyableannotations += androidx.annotation.ColorRes
lombok.copyableannotations += androidx.annotation.DimenRes
lombok.copyableannotations += androidx.annotation.DrawbleRes
lombok.copyableannotations += androidx.annotation.FontRes
lombok.copyableannotations += androidx.annotation.FractionRes
lombok.copyableannotations += androidx.annotation.IdRes
lombok.copyableannotations += androidx.annotation.IntegerRes
lombok.copyableannotations += androidx.annotation.InterpolatorRes
lombok.copyableannotations += androidx.annotation.LayoutRes
lombok.copyableannotations += androidx.annotation.MenuRes
lombok.copyableannotations += androidx.annotation.NavigationRes
lombok.copyableannotations += androidx.annotation.PluralsRes
lombok.copyableannotations += androidx.annotation.RawRes
lombok.copyableannotations += androidx.annotation.StringRes
lombok.copyableannotations += androidx.annotation.StyleableRes
lombok.copyableannotations += androidx.annotation.StyleRes
lombok.copyableannotations += androidx.annotation.TransitionRes
lombok.copyableannotations += androidx.annotation.XmlRes

# Other androidx.annotation
lombok.copyableannotations += androidx.annotation.ColorInt
lombok.copyableannotations += androidx.annotation.ColorLong
lombok.copyableannotations += androidx.annotation.Dimension
lombok.copyableannotations += androidx.annotation.FloatRange
lombok.copyableannotations += androidx.annotation.IntRange
lombok.copyableannotations += androidx.annotation.Px
lombok.copyableannotations += androidx.annotation.Size