<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonahbauer.qed">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_qed_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".GenericFileProvider"
            android:authorities="com.jonahbauer.qed.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".DeepLinkingActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="QED"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.Translucent" >
            <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" -->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="test"/>
            </intent-filter>

            <!-- Image Activity -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http"/>
                <data android:scheme="https"/>

                <data
                    android:host="qedgallery.qed-verein.de"
                    android:pathPrefix="/image_view.php" />
            </intent-filter>

            <!-- Album Activity -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http"/>
                <data android:scheme="https"/>

                <data
                    android:host="qedgallery.qed-verein.de"
                    android:pathPrefix="/album_view.php" />
            </intent-filter>

            <!-- Main Activity -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http"/>
                <data android:scheme="https"/>

                <data
                    android:host="qeddb.qed-verein.de"
                    android:pathPrefix="/personen.php" />
                <data
                    android:host="qeddb.qed-verein.de"
                    android:pathPrefix="/person.php" />
                <data
                    android:host="qeddb.qed-verein.de"
                    android:pathPrefix="/veranstaltungen.php" />
                <data
                    android:host="qeddb.qed-verein.de"
                    android:pathPrefix="/veranstaltung.php" />
                <data
                    android:host="chat.qed-verein.de"
                    android:pathPrefix="/index.html" />
                <data
                    android:host="chat.qed-verein.de"
                    android:pathPrefix="/rubychat/history" />
                <data
                    android:host="qedgallery.qed-verein.de"
                    android:pathPrefix="/album_list.php" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.SplashScreen"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.GalleryAlbumActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_album"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.imageActivity.ImageActivity"
            android:label="@string/title_activity_image"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ImageInfoActivity"
            android:label="@string/title_activity_image_info"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver
            android:name=".networking.downloadManager.DownloadBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>