<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.INSERT"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL"/>
        </intent>
    </queries>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <!-- Deep Linking Activity -->
        <activity
            android:name=".activities.DeepLinkingActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label=""
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.App.Translucent">

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http"/>
                <data android:scheme="https"/>

                <data android:host="qeddb.qed-verein.de"/>
                <data android:pathPattern="/people/..*"/>
                <data android:pathPattern="/events/..*"/>
                <data android:pathPattern="/registrations/..*"/>
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".activities.MainActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.App.SplashScreen"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="true">

            <nav-graph android:value="@navigation/main"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.image.ImageActivity"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:theme="@style/Theme.App.Black.Fullscreen"
            android:exported="true">

            <nav-graph android:value="@navigation/image"/>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="eu.jonahbauer.qed.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".authenticator.AccountAuthenticatorService"
            android:exported="false">

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_authenticator" />
        </service>
    </application>

</manifest>